@charset "utf-8";

header{
    background-color: paleturquoise;
}

.form{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.set{
    float: left;
    padding: 20px;
}

footer{
    clear: left;
}

footer a{
    float: right;
}

.message{
    background-color: blanchedalmond;
    height: 20px;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

